*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.form_block{
    color: azure;
    background: #0d0d0eaa;
    color: #AF0404;
    margin: auto;
    margin-top: 10vh;
    padding: 10px;
    border: solid red 1px;
    border-radius: 25px;
    box-shadow: black 5px 4px 3px;
    height: 60vh;
    width: 25vw;
}



label, input{
    margin-bottom: 8px;
}

label{
    font-size: 25px;
}

input{
    height: 5vh;
    width: 100%;
}
