*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.detail-form li h2{
    color: black;
}

.detail-form{
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    max-width: 400px;
    margin: 20vh auto;
    padding: 20px;
    font: 13px sans-serif;
    background: rgba(255, 255, 255, .35);
    backdrop-filter: blur(5px);
}

.detail-form li{
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.detail-form label{
    display: block;
    margin: 0 0 3px 0;
    color: black;
    font-weight: bold;
}

.detail-form input, button{
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    outline: none;
}

.detail-form input:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.detail-form .divided{
    width: 49%;
}

.detail-form .long{
    width: 100%;
}

.detail-form button{
    margin: 2px;
    background: #4B99AD;
    border: none;
    padding: 8px 15px;
    color: #fff;
}

.detail-form button:hover{
    background: #1aaabd;
    box-shadow: 0 0 8px #58a1a1;
    /* color: black; */
}