*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.detail-form{
    /* border: 1px solid white; */
    max-width: 400px;
    margin: 20vh auto;
    padding: 20px;
    font: 13px sans-serif;
    background: white;
}

.detail-form li{
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.detail-form label{
    display: block;
    margin: 0 0 3px 0;
    color: black;
    font-weight: bold;
}

.detail-form input, button{
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    outline: none;
}

.detail-form input:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.detail-form .divided{
    width: 49%;
}

.detail-form .long{
    width: 100%;
}

.detail-form button{
    margin: 2px;
    background: #4B99AD;
    border: none;
    padding: 8px 15px;
    color: #fff;
}

.detail-form button:hover{
    background: #1aaabd;
    box-shadow: 0 0 8px #58a1a1;
    /* color: black; */
}



/* li{
    list-style: none;
    display: block;
} */

/* .container form{
    background-color: white;
    padding: 15px 20px;
    width: 40vw;
    margin: auto;
    margin-top: 15vh;
}

.container form input{
    margin-bottom: 15px;
    border: 1px black solid;
    border-radius: 8px;
    padding: 2px 0 2px 2px;
} */
