*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom right, red, orange, yellow, white);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#container{
    height: 100vh;
    width: 100vw;
}

#congo{
    text-align: center;
    font-size: 5vw;
    margin-top: 20vh;
    font-weight: bolder;
}

#message{
    font-family: cursive;
    text-align: center;
    font-size: 4vw;
    margin-top: 5vh;
    font-weight: bold;
}

#home{
    margin: auto;
    margin-top: 10vh;
    border: 1px solid white;
    width: fit-content;
    padding: 10px;
    background-image: linear-gradient(to bottom right, red,blue);
}

#home a{
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
}